<h1 class="text-2xl font-medium leading-6 text-gray-900 mb-5">Post List</h1>

<% @posts.each do |post| %>
  <h2 class="text-lg"><%= post.title %></h2>
  <p><%= post.content %></p>
  <p>
    最後編輯時間：<%= time_ago_in_words(post.updated_at) %>
    <%= link_to "edit", edit_post_path(post) %>
    <%= link_to "delete", post, method: :delete %>
  </p>
  <hr>
<% end %>